<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter Text</title>
  <link rel="stylesheet" href="../static/styleDication.css">
</head>
<body>
  <div class="container">
    <h1 class="title">Enter Text</h1>
    <p class="intro">
      Go to <a href="https://www.imagetotext.io/" target="_blank">this Page</a>, upload Image and copy text from there and paste here
    </p>
    <form action="/submit_text" method="post">
      <label for="user_text">User Text</label>
      <textarea name="user_text" id="user_text" rows="4" cols="50"></textarea><br><br>
      <button type="submit">Submit</button>
    </form>
    <h2 class="prediction-title">Our Prediction:</h2>
    {% if prediction %}
    <p class="prediction">{{ prediction }}</p>
    {% else %}
    <p class="prediction">No Prediction Done Yet.</p>
    {% endif %}
    <form action="/next_page" method="get">
      <button type="submit" class="next-button">Next</button>
    </form>
  </div>
</body>
</html>